<div *ngIf="control"
     class="flex flex-column gap-2 w-full"
     [ngClass]="styleClass">
  <div class="flex" *ngIf="label">
    <label>
      {{label | translate}}
      <span *ngIf="isRequired" class="text-red-500">*</span>
    </label>
  </div>
  <p-dropdown
    [options]="data"
    [formControl]="control"
    [placeholder]="placeholder"
    [showClear]="showClear"
    [ngClass]="[hasError ? 'ng-invalid ng-dirty' : '']"
    (onChange)="onChangeSelection($event)"
    class="status-dropdown"
    appendTo="body"
    styleClass="w-full">
    <ng-template pTemplate="selectedItem" let-selectedOption>
      <ng-container *ngTemplateOutlet="issueStatusRow;context:{status: selectedOption}"></ng-container>
    </ng-template>
    <ng-template let-block pTemplate="item">
      <ng-container *ngTemplateOutlet="issueStatusRow;context:{status: block}"></ng-container>
    </ng-template>
  </p-dropdown>

  <ng-template #issueStatusRow let-status="status">
    <div class="flex flex-row gap-2">
      <i class="pi pi-circle-fill" [style]="{color: status.color}"></i>
      {{status.status}}
    </div>
  </ng-template>

  <ng-template [ngIf]="hasError">
    <prime-field-error-box [label]="label"
                           [field]="control"></prime-field-error-box>
  </ng-template>
</div>
