<p-confirmDialog/>


<div class="flex flex-column lg:flex-row gap-3 justify-content-between lg:align-items-center mb-4">
  <div class="flex flex-column gap-2">
    <div class="flex align-items-center gap-2">
      <h1 class="m-0 font-semibold text-900 text-xl line-height-3">
        Activity constructor
      </h1>
    </div>
    <p class="mb-0 mt-0 text-base text-600">
      Construct your custom activity template
    </p>
  </div>
</div>

<p-divider></p-divider>


<template-constructor [isEditMode]="isEditMode"
                      [activityId]="activityId"
                      [activityTemplateDto]="activityTemplateDto"></template-constructor>
