.dashboard-content {
  display: grid;
  grid-template-columns: auto 1fr;
}

.dashboard-outlet {
  overflow-y: auto;
}

.dashboard-container {
  overflow-y: hidden;
}

.content-wrapper {
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 1rem;
}
