<div class="flex flex-row align-items-center justify-content-center gap-3">

  <div class="flex flex-column align-start gap-3"
       *ngIf="activityRoomStatus?.isActive">
    <div
      class="surface-card p-4 shadow-2 border-round flex-grow-1 backlog-container overflow-x-auto overflow-auto"
      style="scrollbar-width: thin;">
      <div class="flex flex-row w-full justify-content-between align-items-center mb-3">
        <h3 class="text-900 font-medium m-0">
          Backlog items
          <span *ngIf="block?.issueBacklog && block?.issueBacklog?.length">
            ({{filteredBacklog.length}})
          </span>
        </h3>

        <div class="flex flex-row gap-3 align-items-center justify-content-center" *ngIf="activityRoomStatus?.isActive">
          <p-button icon="pi pi-search"
                    severity="success"
                    label="Search items"
                    size="small"
                    (click)="onSelectBacklogItems()"></p-button>
          <p-button icon="pi pi-trash"
                    severity="danger"
                    label="Clear backlog"
                    size="small"
                    *ngIf="block?.issueBacklog && block?.issueBacklog?.length && isFacilitator"
                    [outlined]="true"
                    (click)="onClearBacklog()"></p-button>
        </div>
      </div>

      <div class="flex flex-row justify-content-center align-items-center flex-wrap gap-3 backlog">
        <prime-no-data-placeholder *ngIf="filteredBacklog.length === 0"
                                   imageClass="w-full md:w-8rem"
                                   padding="py-2"
                                   text="Empty backlog"
                                   description="No issues found yet!">
        </prime-no-data-placeholder>

        <ng-container *ngFor="let item of filteredBacklog; trackBy: trackByIssueId">
          <div #cardBox
               [dndDraggable]="item"
               class="flex flex-column gap-3"
               dndEffectAllowed="copyMove">
            <div class="shadow-2 border-round p-3 reflect-card w-full cursor-move"
                 dndHandle>
              <estimate-item-row style="width: 100%"
                                 [issue]="item"></estimate-item-row>
              <p-button icon="pi pi-trash"
                        [text]="true"
                        [rounded]="true"
                        size="small"
                        severity="danger"
                        styleClass="p-0 d-contents"
                        class="ml-3"
                        *ngIf="activityRoomStatus?.isActive"
                        (click)="onRemoveBacklogItem(item?.issueId!)"></p-button>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <div class="flex flex-column align-start gap-3">

    <div
      class="surface-card p-4 shadow-2 border-round flex-grow-1 overflow-x-auto overflow-auto"
      style="scrollbar-width: thin;">
      <div class="flex flex-row w-full justify-content-between align-items-center mb-3">
        <h3 class="text-900 font-medium m-0">
          Team Capacity
        </h3>
      </div>

      <team-capacity-table [teamLoadMetadata]="block.teamLoadMetadata"></team-capacity-table>
    </div>


    <div class="flex flex-row align-start gap-3">
      <div *ngFor="let column of block.columnMetadata | activityBlockSort; trackBy: trackById"
           class="surface-card shadow-2 border-round w-25rem flex flex-column">
        <div class="p-3 border-bottom-3"
             [style.border-color]="column.color">
          <div class="flex flex-row justify-content-between gap-3">
            <div class="flex flex-column">
              <h3 class="text-900 font-medium m-0">
                {{column.title}}
              </h3>
              <p class="text-600 text-sm m-0 mt-1">
                {{column.instruction}}
              </p>
            </div>

            <p class="text-600 text-sm"
               *ngIf="columnCardsMap.get(column.id)?.length">
              {{columnCardsMap.get(column.id)?.length}}
            </p>
          </div>
        </div>

        <div class="p-3 flex flex-column justify-content-between h-full gap-3">
          <div class="flex flex-column align-items-center gap-3 h-full w-full">
            <ng-container *ngTemplateOutlet="boardColumn;context:{column: column}"></ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row gap-3 mt-2">
      <p-button icon="pi pi-times"
                severity="secondary"
                size="small"
                label="Clear board"
                *ngIf="activityRoomStatus?.isActive"
                [text]="true"
                (onClick)="onClearBoard()"
                [outlined]="true"></p-button>
    </div>
  </div>
</div>


<ng-template #boardColumn let-column="column">
  <div dndDropzone
       dndEffectAllowed="copyMove"
       [dndDisableDropIf]="!activityRoomStatus?.isActive"
       [dndDisableIf]="!activityRoomStatus?.isActive"
       (dndDrop)="onDrop($event, column)"
       class="flex flex-column w-full h-full gap-3 reflect-column"
       #columnBox>
    <div class="shadow-2 border-round bg-gray-50 p-3 border-dashed border-1 h-6rem reflect-card w-full"
         dndPlaceholderRef>
    </div>
    <ng-template [ngIf]="!columnCardsMap.get(column.id) || columnCardsMap.get(column.id)?.length == 0">
      <p class="text-center text-500">
        Add your items
      </p>
    </ng-template>


    <div #cardBox
         *ngFor="let card of columnCardsMap.get(column.id)|activityBlockSort; trackBy: trackByColumnIssueId"
         [dndDraggable]="card"
         (dndStart)="onDragStart($event, column)"
         (dndEnd)="onDragEnd($event, card, columnCardsMap.get(column.id)!)"
         (dndCopied)="onDragged(card, columnCardsMap.get(column.id)!, 'copy')"
         (dndMoved)="onDragged(card, columnCardsMap.get(column.id)!, 'move')"
         (dndCanceled)="onDragged(card, columnCardsMap.get(column.id)!, 'none')"
         [dndDisableDragIf]="!activityRoomStatus?.isActive"
         [dndDisableIf]="!activityRoomStatus?.isActive"
         class="flex flex-column w-full gap-3"
         dndEffectAllowed="copyMove">
      <div class="shadow-2 border-round p-3 reflect-card w-full cursor-move"
           dndHandle>
        <div class="flex flex-column gap-3 justify-content-between align-items-center w-full">
          <div class="flex flex-row gap-1 justify-content-between align-items-center w-full">
            <estimate-item-row *ngIf="card.issueMetadata"
                               style="width:100%"
                               [issue]="card.issueMetadata"></estimate-item-row>
            <p-button icon="pi pi-trash"
                      [text]="true"
                      [rounded]="true"
                      size="small"
                      severity="danger"
                      styleClass="p-0 d-contents"
                      class="ml-3"
                      *ngIf="((card.userMetadata && card.userMetadata.userId === userMetadata?.userId) || isFacilitator) && activityRoomStatus?.isActive"
                      (click)="onRemoveColumnIssue(card)"></p-button>
          </div>

          <div class="flex flex-row gap-3 justify-content-start align-items-center w-full flex-wrap">
            <prime-assignee-dropdown dropdownStyle="small-assignee"
                                     [data]="block.teamMembers"
                                     [defaultValue]="card.userMetadata"
                                     [disabled]="!isFacilitator || !activityRoomStatus?.isActive"
                                     [hideAvatar]="false"
                                     (onSelectAssignee)="onSelectCardAssignee(card, $event)"></prime-assignee-dropdown>

            <p-chip [label]="card?.statusMetadata?.statusName">
              <i class="pi pi-circle-fill mr-2" *ngIf="card?.statusMetadata?.color"
                 [ngStyle]="{'color': card?.statusMetadata?.color}">
              </i>
            </p-chip>

            <p-chip label="{{card?.issueMetadata?.estimate || 'Estimate'}}"
                    icon="pi pi-sort-numeric-down"
                    styleClass="cursor-pointer"
                    (click)="openEstimateOverlay($event, op, card)"/>
            <p-overlayPanel #op>
              <div class="flex flex-column gap-3 w-25rem">
                <div>
                  <span class="font-medium text-900 block mb-2">Provide estimate</span>
                  <prime-input label="Estimate"
                               placeholder="Estimate"
                               [control]="estimateControl"/>
                </div>
                <div class="flex flex-row align-items-center justify-content-end gap-2">
                  <p-button severity="secondary"
                            size="small"
                            label="Cancel"
                            (onClick)="op.toggle($event)"></p-button>
                  <p-button icon="pi pi-check"
                            severity="success"
                            size="small"
                            label="Submit"
                            (onClick)="onEstimateChange(op, card)"></p-button>
                </div>
              </div>
            </p-overlayPanel>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


