<div class="surface-overlay py-3 px-6 shadow-2">
  <div class="nav-container px-3">
    <div class="flex flex-wrap align-items-center justify-content-between">
      <div class="flex align-items-center justify-content-start md:mb-0 mb-3">
        <prime-logo styleClass=" justify-content-start"></prime-logo>
      </div>
      <div class="flex align-items-center justify-content-between md:mb-0 mb-3">
        <a class="text-700 cursor-pointer md:ml-5 ml-2">Brand Policy</a>
        <a class="text-700 cursor-pointer md:ml-5 ml-2">Privacy Policy</a>
        <a class="text-700 cursor-pointer md:ml-5 ml-2">Terms of Service</a>
      </div>
      <div class="flex align-items-center justify-content-between">
        <p class="text-700">© {{year}} Company, Inc</p>
      </div>
    </div>
  </div>
</div>


